.section {
padding: 100px 20px;
background: #f8fafc;

}


.container {
max-width: 1200px;
margin: auto;

}


.header {
text-align: center;
margin-bottom: 60px;
}


.header h2 {
font-size: 40px;
font-weight: bold;
color: #0f172a;
margin-bottom: 15px;
}


.header p {
color: #505252;
font-size: 1rem;
max-width: 600px;
margin: auto;
}



.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 15px;
}

.card {
background: #071426;
padding: 40px;
border-radius: 12px;
box-shadow: 0 5px 20px rgba(0,0,0,0.08);
transition: 0.3s;
}


.card:hover {
transform: translateY(-8px);
}


.number {
font-size: 40px;
font-weight: bold;
color: #f7bd1f;
display: block;
margin-bottom: 15px;
}


.card h3 {
font-size: 20px;
margin-bottom: 10px;
color: #f8fafc;
}


.card p {
color: #babdc0;
line-height: 1.6;
}