.subheader {
  padding: 4rem 1rem;
  background-color: #fff;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1a0a2c;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block; 
}

.underline {
  display: block;
  height: 3px;
  width: 60px;
  background-color: #ff6b00; 
  margin: 0.5rem auto 0; 
  border-radius: 2px; 
}

.description {
  font-size: 1rem;
  color: #4a4a4a;
  line-height: 1.6;
  margin-top: 1rem;
}