.footer {
  background: linear-gradient(
    180deg,
    #0a0a0a,
    #111111
  );
  color: #e5e7eb;
  padding: 90px 0 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* TOP SECTION */
.topSection {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* BRAND */
.brand {
  flex: 1.3;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.logoBox {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  background: linear-gradient(135deg, #14b8a6, #f97316);
}

.brand p {
  color: #9ca3af;
  line-height: 1.6;
  margin-bottom: 24px;
  max-width: 350px;
}

/* =========================
   SOCIAL ICONS
========================= */
.socials {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.socials a {
  width: 40px;
  height: 40px;
  background: #121c3b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.3s ease;
}

.socials a:hover {
  background: #f8af28;
  transform: translateY(-4px);
}


/* LINKS GRID */
.linksGrid {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.linksGrid h4 {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  color: #ffffff;
}

.linksGrid a {
  display: block;
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.linksGrid a:hover {
  color: #ffffff;
}

/* DIVIDER */
.divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
  margin: 60px 0 25px;
}

/* BOTTOM BAR */
.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #9ca3af;
}

.bottomLinks {
  display: flex;
  gap: 24px;
}

.bottomLinks a {
  cursor: pointer;
  transition: color 0.3s ease;
}

.bottomLinks a:hover {
  color: white;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .topSection {
    flex-direction: column;
    gap: 50px;
  }

  .linksGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .bottomBar {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .linksGrid {
    grid-template-columns: 1fr;
  }
}
