.section {
  padding: 80px 20px;
  background: #071426;

}


.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

}


.left {
  flex: 1;

}


.title {
  font-size: 48px;
  font-weight: 500;
  color: #f1f1f1;
  margin-bottom: 20px;

}


.description {
  font-size: 16px;
  line-height: 1.7;
  color: #c9c6c6;
  margin-bottom: 40px;
  max-width: 550px;

}


/* STATS */

.stats {
  display: flex;
  gap: 60px;

}


.stat h3 {
  font-size: 32px;
  font-weight: 700;
  color: #7a2d35;
  margin-bottom: 5px;

}


.stat p {
  font-size: 14px;
  color: #777;

}



/* RIGHT */

.right {
  flex: 1;
  display: flex;
  justify-content: center;

}


.imageWrapper {
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;

}


.image {
  object-fit: cover;

}


/* BADGE */

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #7a2d35;
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);

}