.section {
  background: linear-gradient(180deg, #02142b, #020617);
  padding: 80px 20px;

}


.container {
  max-width: 1200px;
  margin: auto;

}


.title {
  font-size: 36px;
  font-weight: 600;
  color: white;

}


.subtitle {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #94a3b8;

}


/* GRID 3x2 */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}


/* CARD */

.card {

  background: linear-gradient(145deg, #0f172a, #020617);
  border: 1px solid #1e293b;
  border-radius: 16px;
  padding: 30px;
  transition: 0.3s;

}


.card:hover {
  transform: translateY(-5px);
  border-color: #3b82f6;

}


/* ICON */

.iconBox {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  background: linear-gradient(135deg, #1d4ed8, #7c3aed);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: white;

}


.card h3 {
  color: white;
  margin-bottom: 10px;
}


.card p {
  color: #94a3b8;
  font-size: 15px;

}