.section {
  padding: 80px 20px;
   background: linear-gradient(
      to right,
      rgba(248, 250, 252, 0.95),
      rgba(248, 250, 252, 0.8)
    );

}


.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;

}


.title {
  font-size: 36px;
  font-weight: 500;
  color: #242424;

}


.subtitle {
  margin-top: 10px;
  margin-bottom: 60px;
  color: #777;
  font-size: 16px;

}


/* TIMELINE */

.timeline {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;

}


.line {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  height: 2px;
  background: #242424;
  z-index: 0;

}


/* STEP */

.step {
  position: relative;
  max-width: 250px;
  z-index: 1;

}


.iconWrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: white;
  color: #7a2d35;
  margin-bottom: 20px;

}


.step h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #242424;
  font-weight: 600;

}


.description {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  margin-bottom: 15px;

}

